* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  background-color: darkgray;
}

nav {
  display: flex;
  justify-content: left;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
}

.calendar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  aspect-ratio: 7 / 4;
  width: 100%;
  max-height: 100%;
  text-align: center;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-name {
  font-size: 20px;
  font-weight: bold;
}

button {
  display: block;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.weekdays div, .days div {
  padding: 10px;
  text-align: center;
}

.weekdays div {
  font-weight: bold;
  color: #333;
}

.days div {
  padding: 15px;
  cursor: pointer;
  position: relative;
}

.date-square {
  aspect-ratio: 1 / .7;
  width: 100%;
  max-height: 100%;
}

.date-square span {
  padding: 0.5rem;
}

.days div:hover {
  background-color: #f0f0f0;
}

.current-day {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}

.event-section {
  margin-top: 20px;
  width: 350px;
}

#event-input {
  
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#event-list {
  list-style: none;
  padding: 0;

}

#event-list li {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;  
}

#event-list li .delete-event {
  position: absolute;
  opacity: 0;
  right: 10px;
  top: 10px;
}


#event-list li .delete-event:hover{
  position: absolute;
  opacity: 1;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.event-section ul{
  margin-bottom: 20%;
  
}

.shownEvent {
  display: flex;
  gap: 3rem;

}
#selected-date{
  margin-bottom: 10%;
}