body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.sign-in-view {
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}
input[type="email"],
input[type="password"],
button {
    width: calc(100% - 22px); /* Adjusting for padding and border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.sign-in-view button {
    cursor: pointer;
    border: none;
}
#sign-in-btn {
    background-color: #007bff;
    color: white;
}
#sign-in-btn:hover {
    background-color: #0056b3;
}
#signup-btn {
    color: #007bff;
}
#signup-btn:hover {
    color: #0056b3;
}

.calendar-view {
    display: none;
}
